$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-overrides";
@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

/* Put your CSS here */


@mixin big-logo-inner {
  text-align : center;
  padding : 10px 20px 10px 20px;
  background-color : #f9f9f9;
  border-radius:6px;
  max-width : 700px;
  margin : 0 auto;
}
/* Portrait tablet to landscape and desktop and large desktop*/
@media (min-width : 980px) {
  html, body {
    margin : 20px auto;
  }
  .big-logo {
    margin : 10px 20px 40px 20px;

    & > .big-logo-inner {
      @include big-logo-inner;
    }
  }

  input.half-size {
    width: calc(50% - 16px);
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  html, body {
    margin: 0px;
  }
  .big-logo {
    margin : 10px 10px 10px 10px;

    & > .big-logo-inner {
      @include big-logo-inner;
    }
  }

  input.half-size {
    width: calc(50% - 16px);
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  html, body {
    margin: 0px;
  }

  input.half-size {
    width: calc(50% - 16px);
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  html, body {
    margin: 0px;
  }

  .label-link .label, .badge {
    font-size : 8px;
  }

  .table th, .table td {
    padding: 7px 2px 10px 2px;
  }

  input.half-size {
    width: calc(100% - 16px);
  }
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

p {
  margin-left : 10px;
}

ul > li {
  margin-left : 20px;
}

.bold-text {
  font-weight : bold;
}

tr.related-block-row {

  border-left: 2px solid #999;
  border-right: 2px solid #999;

  &:nth-child(odd) > td {
    background: #d9d9d9 !important;
  }
  &:nth-child(even) > td {
    background: #f0f0f0 !important;
  }
  &:last-child {
    border-bottom: 2px solid #999;
  }
}


.hero-unit {
    margin: 20px auto 20px auto;
    min-width: 300px;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    background-color: #eee;
    border-radius: 6px;
    padding: 30px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.ellipsize {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.hidden {
  visibility : hidden;
}

.ajax-loader {
  background: url(images/ajax-loader.gif) center center no-repeat;
  height : 100px;
  width  : 100px;
  margin : 0 auto;
}

/**
 * Block table styling
 */
ul.hints-with-counts {
  margin-left : 0;
  & > li {
    margin-left : 0;
    list-style: none;
  }
}

input.full-size {
  width: calc(100% - 16px);
}

/**
 * For the FAQs section
 */

.image-box {
  text-align:center;

  & div {
    display: inline-block;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding: 4px 20px 7px 20px;
    margin: 10px;
    border-radius: 3px;

    cursor: pointer;
    cursor: hand;
    border : 1px solid #ddd;
    &:hover {
      border : 1px solid #0088cc;
    }
  }
}

// copied from GitHub; I love their monospace <code> look
.monospace-font {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}

ul.changelog > li > ul > li {
  font-weight : normal;
  font-size : 14px;
}

/**
 * Labels
 */
.single-block {
  display:inline-block;
  margin-right:20px;
}

.label-link > a {

  text-decoration : none;

  &:hover {
    text-decoration : underline;
  }
}

.big-label {
  font-size      : 3em;
  font-weight    : bold;
  line-height    : 38px;
  padding        : .1em .2em;
  border-radius  : 5px;
}

/**
 * Alerts
 */

@mixin icon-for-alert($color) {
  display: inline-block;
  background-color: $color;
  padding: 1px 2px 2px;
  border-radius: 50px;
  margin-right: 8px;

  & > i {
    margin-right:8px;
  }
}

.icon-for-alert-warning {
  @include icon-for-alert(#c09853);
}
.icon-for-alert-info {
  @include icon-for-alert(#3a87ad);
}

/**
 * Navbar
 */

ul.horizontal-navbar {
  list-style-type: none;
  margin: 0;
}

ul.horizontal-navbar li {
  float: left;
}

.nav-username {
  padding-right: 10px;
  line-height:40px;
  color : #fff;

  & > i {
    padding-right : 8px;
  }
}

.search-query {
  background-image: url(images/icon-search.png);
  background-position: right center;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
}

.navbar-inverse  .navbar-search .search-query {
  color : $navbarInverseSearchPlaceholderColor; // fixes a bug in Firefox where this doesn't render the right color
}

/**
 * Label colors
 */

$label-color-0: rgb(185, 72, 72);
$label-color-1: rgb(185, 114, 72);
$label-color-2: rgb(185, 157, 72);
$label-color-3: rgb(171, 185, 72);
$label-color-4: rgb(129, 185, 72);
$label-color-5: rgb(86, 185, 72);
$label-color-6: rgb(72, 185, 100);
$label-color-7: rgb(72, 185, 143);
$label-color-8: rgb(72, 185, 185);
$label-color-9: rgb(72, 143, 185);
$label-color-10: rgb(72, 100, 185);
$label-color-11: rgb(86, 72, 185);
$label-color-12: rgb(129, 72, 185);
$label-color-13: rgb(171, 72, 185);
$label-color-14: rgb(185, 72, 157);
$label-color-15: rgb(185, 72, 114);

.label-0 { background-color : $label-color-0; }
.label-1 { background-color : $label-color-1; }
.label-2 { background-color : $label-color-2; }
.label-3 { background-color : $label-color-3; }
.label-4 { background-color : $label-color-4; }
.label-5 { background-color : $label-color-5; }
.label-6 { background-color : $label-color-6; }
.label-7 { background-color : $label-color-7; }
.label-8 { background-color : $label-color-8; }
.label-9 { background-color : $label-color-9; }
.label-10 { background-color : $label-color-10; }
.label-11 { background-color : $label-color-11; }
.label-12 { background-color : $label-color-12; }
.label-13 { background-color : $label-color-13; }
.label-14 { background-color : $label-color-14; }
.label-15 { background-color : $label-color-15; }
