$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "fonts";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

p {
  margin-left : 10px;
}

ul > li {
  margin-left : 20px;
}

.hero-unit {
    margin: 20px auto 20px auto;
    min-width: 300px;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    background-color: #eee;
    border-radius: 6px;
    padding: 30px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.ellipsize {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.hidden {
  visibility : hidden;
}

.ajax-loader {
  background: url(images/ajax-loader.gif) center center no-repeat;
  height : 100px;
  width  : 100px;
  margin : 0 auto;
}

.image-box {
  text-align:center;
  & > a > img {
    padding : 15px 25px;
    background : #ddd;
    border-radius : 2px;

    border : transparent 2px solid;

    &:hover {
      border : #0088cc 2px solid;
    }
  }
}

.label-link > a {

  text-decoration : none;

  &:hover {
    text-decoration : underline;
  }
}

.big-label {
  font-size      : 3em;
  font-weight    : bold;
  line-height    : 38px;
  padding        : .1em .2em;
  border-radius  : 5px;
}

.monospace-font {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}

.single-block {
  display:inline-block;
  margin-right:20px;
}

.icon-for-alert-info {
  display: inline-block;
  background-color: #3a87ad;
  padding: 1px 2px 2px;
  border-radius: 50px;
  margin-right: 8px;

  & > i {
    margin-right:8px;
  }
}

/**
 * Navbar
 */

ul.horizontal-navbar {
  list-style-type: none;
  margin: 0;
}

ul.horizontal-navbar li {
  float: left;
}

.nav-username {
  padding-right: 10px;
  line-height:40px;
  color : #fff;
}

/**
 * Label colors
 */

$label-color-0: rgb(185, 72, 72);
$label-color-1: rgb(185, 114, 72);
$label-color-2: rgb(185, 157, 72);
$label-color-3: rgb(171, 185, 72);
$label-color-4: rgb(129, 185, 72);
$label-color-5: rgb(86, 185, 72);
$label-color-6: rgb(72, 185, 100);
$label-color-7: rgb(72, 185, 143);
$label-color-8: rgb(72, 185, 185);
$label-color-9: rgb(72, 143, 185);
$label-color-10: rgb(72, 100, 185);
$label-color-11: rgb(86, 72, 185);
$label-color-12: rgb(129, 72, 185);
$label-color-13: rgb(171, 72, 185);
$label-color-14: rgb(185, 72, 157);
$label-color-15: rgb(185, 72, 114);

.label-0 { background-color : $label-color-0; }
.label-1 { background-color : $label-color-1; }
.label-2 { background-color : $label-color-2; }
.label-3 { background-color : $label-color-3; }
.label-4 { background-color : $label-color-4; }
.label-5 { background-color : $label-color-5; }
.label-6 { background-color : $label-color-6; }
.label-7 { background-color : $label-color-7; }
.label-8 { background-color : $label-color-8; }
.label-9 { background-color : $label-color-9; }
.label-10 { background-color : $label-color-10; }
.label-11 { background-color : $label-color-11; }
.label-12 { background-color : $label-color-12; }
.label-13 { background-color : $label-color-13; }
.label-14 { background-color : $label-color-14; }
.label-15 { background-color : $label-color-15; }