tr
  td
    .single-block
      mixin block-label('block._id', 'visible', 'inline-block')
      i.icon-chevron-right.hidden(style="display:inline-block;")
  //- the following is just to make the table formatting look right
  td: mixin block-label('"12345"', 'hidden', 'block')
  td {{block.soloHintCount | number}}
  td(ng-switch on="block.soloHintCount")
    span.muted(ng-switch-when="0")
      | ({{(block.followingHintCount + block.precedingHintCount) | number}} hints in related blocks)
    span(ng-switch-default bs-tooltip='block.joinedHints')
      | {{block.shortJoinedHints}}
  td
    input(style='width : calc(100% - 16px);',type='text',ng-model='pouch.doc.guesses[block._id]')
  td
    button.btn(style="width:100%",ng-show='block.followingBlockCount || block.precedingBlockCount',
    ng-class="{'disabled' : block.loadingRelated}",ng-click="expandOrCollapse(block)")
      span.ellipsize {{block.followingBlockCount + block.precedingBlockCount}} related&hellip;&nbsp;
      i(ng-class="{'icon-chevron-down' : !block.expanded, 'icon-chevron-up' : block.expanded}")