.navbar.navbar-inverse.navbar-fixed-top(ng-controller="NavbarController")
  .navbar-inner
    .container
      .btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse',type='div')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand.main-logo.main-logo-font(href='#/',ng-click='selectedTabId="home"') Ultimate Crossword
      .ng-cloak.nav-collapse.collapse
        ul.nav
          li(ng-click="$parent.selectedTabId = tab.id",ng-repeat="tab in tabs",ng-class="{active: tab.id == $parent.selectedTabId}")
            a(href='#',ng-href='{{tab.getHref()}}',ng-bind='tab.title')
        form.navbar-search.pull-left(ng-submit="performSearch()")
          input.search-query(type="text",placeholder="Search",ng-model="searchService.q")
        ul.pull-right.ng-cloak.horizontal-navbar
          li(ng-show="pouch.syncWithPouchInProgress")
            span.nav-username
              i.icon-white.icon-refresh
              | Saving&hellip;