tr.related-block-row(ng-show='block.expanded',ng-repeat='relatedBlock in block.relatedBlocks')
  td
    div(style="display:inline-block;")
      i.icon-chevron-right(style="display:inline-block;",ng-class="{hidden : !$first}")
      mixin block-label('relatedBlock.ids[0]', 'visible', 'inline-block')
  td
    mixin block-label('relatedBlock.ids[1]', 'visible', 'block')
  td.hidden-phone {{relatedBlock.count | number}}
  td
    span(bs-tooltip='relatedBlock.joinedHints') {{relatedBlock.shortJoinedHints}}
  td
    div
      mixin block-input('relatedBlock.ids[0]', true)
      mixin block-input('relatedBlock.ids[1]', true)
  td
tr.related-block-row(ng-show='block.expanded && block.moreRelatedBlocks > 0')
  td
  td
  td.hidden-phone
  td
  td
  td
    button.btn(style='width: 100%;',href='#',ng-click="loadMoreRelated(block)",
        ng-class="{'disabled' : block.loadingRelated}")
      span
        | Show {{block.nextPageSize}} more&nbsp;
      i.icon-chevron-down

