tr(ng-show='block.expanded',ng-repeat='relatedBlock in block.relatedBlocks')
  td
    div(style="display:inline-block;")
      i.icon-chevron-right(style="display:inline-block;",ng-class="{hidden : !$first}")
      mixin block-label('relatedBlock.ids[0]', 'visible', 'inline-block')
  td
    mixin block-label('relatedBlock.ids[1]', 'visible', 'block')
  td {{relatedBlock.count}}
  td
    span(bs-tooltip='relatedBlock.joinedHints') {{relatedBlock.shortJoinedHints}}
  td
    div
      input(style='width: calc(50% - 16px);',type='text',ng-model='pouch.doc.guesses[relatedBlock.ids[0]]')
      input(style='width: calc(50% - 16px);',type='text',ng-model='pouch.doc.guesses[relatedBlock.ids[1]]')
  td
tr(ng-show='block.moreRelatedBlocks > 0')
  td
  td
  td
  td
  td
  td
    button.btn(style='width: 100%;',href='#',ng-click="loadMoreRelated(block)",
        ng-class="{'disabled' : block.loadingRelated}")
      span.ellipsize {{block.moreRelatedBlocks}} more...
      i.icon-chevron-down

