mixin hints-with-counts(propString)
  td.hints-with-counts
    ul
      li(ng-repeat='hintWithCount in #{propString}')
        span
          | {{hintWithCount[0]}}&nbsp;
        span.label.pull-right(ng-show='hintWithCount[1] > 1')
          | &times;{{hintWithCount[1]}}