mixin hints-with-counts(propString, bindString)
  td.hints-with-counts
    ul
      li(ng-repeat='hintWithCount in #{propString}')
        span(#{bindString}="hintWithCount[0]")
        span.label.pull-right(ng-show='hintWithCount[1] > 1')
          | &times;{{hintWithCount[1]}}