html
  body
    include blocks/navbar
    h2.section-title
      span About
    .row
        .span8.offset2.section-content
            h3 Ultimate Crossword
            h4
              | v#{pkg.version}, by&#032;
              a(href='http://nolanlawson.com') Nolan Lawson
              | .
            p
              | This app is 100% open-source and awaits your improvements&#032;
              a(href='http://github.com/nolanlawson/ultimate-crossword-app') on GitHub
              | .
            p
              | I am not endorsed by Adobe or Randall Munroe.
              | But I would be flattered if either one sent me
              | email/hatemail/lovemail/a UPS box full of brownies.
            p
              | Made with lots of love, and help from:
            ul
              li: a(href='http://www.angularjs.org/') AngularJS
              li: a(href='http://getbootstrap.com') Bootstrap
              li: a(href='https://couchdb.apache.org/') CouchDB
              li: a(href='http://pouchdb.com/') PouchDB
              li: a(href='https://lucene.apache.org/solr/') Solr
              li: a(href='http://yeoman.io/') Yeoman
            h4 Changelog
              p
                ul.changelog
                  li
                    strong 1.0.0
                    ul: li Initial release.
                  li
                    strong 1.1.0
                    ul
                      li Added "Random!" page.
                      li Added "My guesses" page.
                      li
                        | Removed syncing of user data with remote CouchDB and the "other people guessed..." feature.
                        | I realized it
                        | just opens up the app to misuse by malicious people.  Someone could easily combine all
                        | the users' guesses, reverse-engineer the original blocks based on the hints,
                        | and then match the guesses with people's email addresses in the leaked file.
                        | I don't want to do any more damage than was already done.
                        | So now, user data is only stored locally.
    small.pull-right.muted Page built on !{new Date().toString()}.

