html
  body
    include blocks/navbar
    h2.section-title
      span About
    .row
        .span8.offset2.section-content
            h3 Ultimate Crossword
            h4
              | v#{pkg.version}, by&nbsp;
              a(href='http://nolanlawson.com') Nolan Lawson
              | .
            p
              | This app is 100% open-source and awaits your improvements&nbsp;
              a(href='http://github.com/nolanlawson/ultimate-crossword-app') on GitHub
              | .
            p
              | I am not endorsed by Adobe or Randall Munroe.
              | But I would be flattered if either one sent me
              | email/hatemail/lovemail/a UPS box full of brownies.
            p
              | Made with lots of love, and help from:
            ul
              li: a(href='http://www.angularjs.org/') AngularJS
              li: a(href='http://getbootstrap.com') Bootstrap
              li: a(href='https://couchdb.apache.org/') CouchDB
              li: a(href='http://pouchdb.com/') PouchDB
              li: a(href='https://lucene.apache.org/solr/') Solr
              li: a(href='http://yeoman.io/') Yeoman
    small.pull-right.muted Page built on !{new Date().toString()}.

