html
  include mixins/block-label
  include mixins/hints-with-counts
  include mixins/guesses-with-counts
  include mixins/main-table-header
  body
    include blocks/navbar
    .text-center(style="margin: 10px 0 20px;")
      h1.label.big-label(ng-class='blocksService.getLabelClass(blockId)')
        | Block \#{{blockId}}
    .alert.alert-info(ng-show='doneLoading && numGuessesFromOtherUsers')
      .icon-for-alert-info
        i.icon-thumbs-up.icon-white
      span(ng-pluralize count='numGuessesFromOtherUsers',
          when="{'one' : '1 user has submitted a guess for this block.', 'other' : '{{numGuessesFromOtherUsers}} users have submitted guesses for this block.'}",
          style="margin-right:10px;")
      button.btn(href='#',ng-show='!showGuessesFromOtherUsers',ng-click='showGuessesFromOtherUsers = true')
        | Show guesses
      button.btn(href='#',ng-show='showGuessesFromOtherUsers',ng-click='showGuessesFromOtherUsers = false')
        | Hide guesses
      div(ng-show='showGuessesFromOtherUsers')
        mixin guesses-with-counts('guessesFromOtherUsers')
    .ajax-loader(ng-hide="doneLoading")
    .alert.alert-info(ng-show='doneLoading && !block')
      .icon-for-alert-info
        i.icon-info-sign.icon-white
      | No block with that ID found.
    table.table.table-striped.hide-while-loading(ng-show="doneLoading && block")
      mixin main-table-header(5)
      tbody
        tr
          td
            .single-block
              mixin block-label('block._id', 'visible', 'inline-block')
              i.icon-chevron-right.hidden(style="display:inline-block;")
          //- the following is just to make the table formatting look right
          td: mixin block-label('"12345"', 'hidden', 'block')
          td {{block.soloHintCount}}
          mixin hints-with-counts('block.hintsWithCounts', false)
          td
            input(style='width : calc(100% - 16px);',type='text',ng-model='pouch.doc.guesses[block._id]')
        tr(ng-show='block.expanded',ng-repeat='relatedBlock in block.relatedBlocks')
          td
            div(style="display:inline-block;")
              i.icon-chevron-right(style="display:inline-block;",ng-class="{hidden : !$first}")
              mixin block-label('relatedBlock.ids[0]', 'visible', 'inline-block')
          td
            mixin block-label('relatedBlock.ids[1]', 'visible', 'block')
          td {{relatedBlock.count}}
          mixin hints-with-counts('relatedBlock.hintsWithCounts', false)
          td
            div
              input(style='width: calc(50% - 16px);',type='text',ng-model='pouch.doc.guesses[relatedBlock.ids[0]]')
              input(style='width: calc(50% - 16px);',type='text',ng-model='pouch.doc.guesses[relatedBlock.ids[1]]')