html
  include mixins/block-label
  body
    include blocks/navbar
    .text-center(style="margin: 10px 0 20px;")
      h1.label.big-label(ng-class='blocksService.getLabelClass(blockId)')
        | Block \#{{blockId}}

    .ajax-loader(ng-hide="doneLoading")
    table.table.table-striped.hide-while-loading(ng-show="doneLoading")
      include blocks/main-table-header
      tbody
        include blocks/main-block-row
        include blocks/related-block-rows