html
  body
    include blocks/navbar
    h2.section-title
      span FAQs
    .row
        .span8.offset2.section-content
            p Blah blah blah, all about this app.
            p Blah blah blah, more details.
            p Hello world!