html
  include mixins/block-label
  include mixins/block-input
  include mixins/main-table-header
  body
    include blocks/navbar
    .big-logo
      .big-logo-inner
        img(src='../../images/logo-big.png')
        h4.tagline
          | The world's largest crossword puzzle, brought to you by&nbsp;
          a(href='#/faq') lousy security
          |.
    .ajax-loader(ng-hide="blocksService.currentPage.length")
    table.table.table-striped.hide-while-loading(ng-show="blocksService.currentPage.length")
      mixin main-table-header(2)
      tbody(ng-repeat='block in blocksService.currentPage')
        include blocks/main-block-row
        include blocks/related-block-rows
      tfoot
        tr
          td(colspan=5,style="text-align:left;")
            button.btn.btn-primary(ng-class='{disabled : loadingPage}',ng-click="loadNextPage()")
              span Show {{constants.pageSize}} more&hellip;&nbsp;
              i.icon-refresh.icon-white(ng-show='loadingPage')
          td.hidden-phone


