html
  include mixins/block-label
  body
    include blocks/navbar
    .hero-unit
      h1
        span.scramble-font Ultimate Crossword
        span.pacifico-font .net
    .ajax-loader(ng-hide="blocks.currentPage.length")
    table.table.table-striped.hide-while-loading(ng-show="blocks.currentPage.length")
      thead
        tr
          th(colspan=3) Sequence
          th Popularity
          th Hints
          th(colspan=2) My guess
      tbody(ng-repeat='block in blocks.currentPage')
        tr
          td: mixin block-label('block._id', 'visible')
          //- the following two are just to make the table formatting look right
          td: mixin block-label('"12345"', 'hidden')
          td: mixin block-label('"12345"', 'hidden')
          td {{block.count}}
          td
            span(bs-tooltip='block.joinedHints') {{block.shortJoinedHints}}
          td
            input(type='text')
          td
            button.btn(style="width:100%",ng-show='block.numRelated',
                ng-class="{'btn-primary' : !block.expanded, 'disabled' : block.loadingRelated}",ng-click="expandOrCollapse(block)")
              span.ellipsize {{block.numRelated}} related&hellip;&nbsp;
              i(ng-class="{'icon-chevron-down icon-white' : !block.expanded, 'icon-chevron-up' : block.expanded}")
        tr(ng-show='block.expanded',ng-repeat='relatedBlock in block.relatedBlocks')
          td
            i.icon-chevron-right(ng-show='$first')
          td
            mixin block-label('relatedBlock.ids[0]', 'visible')
          td
            mixin block-label('relatedBlock.ids[1]', 'visible')
          td {{relatedBlock.count}}
          td
            span(bs-tooltip='relatedBlock.joinedHints') {{relatedBlock.shortJoinedHints}}
          td
            div
              input(style='width: calc(50% - 16px);',type='text')
              input(style='width: calc(50% - 16px);',type='text')
          td
      tfoot
        tr
          td
          td
          td
          td
          td
          td
          td
            button.btn.btn-primary(style="width:100%",ng-class='{disabled : loadingPage}',ng-click="loadNextPage()")
              span &nbsp;Load {{constants.pageSize}} more&hellip;
              i.icon-plus.icon-white


