html
  include mixins/block-label
  body
    include blocks/navbar
    .hero-unit
      h1
        span.scramble-font Ultimate Crossword
        span.pacifico-font .net
    .ajax-loader(ng-hide="blocksService.currentPage.length")
    table.table.table-striped.hide-while-loading(ng-show="blocksService.currentPage.length")
      include blocks/main-table-header
      tbody(ng-repeat='block in blocksService.currentPage')
        include blocks/main-block-row
        include blocks/related-block-rows
      tfoot
        tr
          td(colspan=6,style="text-align:left;")
            button.btn.btn-primary(ng-class='{disabled : loadingPage}',ng-click="loadNextPage()")
              span &nbsp;Load {{constants.pageSize}} more&hellip;
              i.icon-refresh.icon-white(ng-show='loadingPage')


