html
  body
    include blocks/navbar
    .hero-unit
      h1
        span.scramble-font Ultimate Crossword
        span.pacifico-font .net
    .ajax-loader(ng-hide="blocks.currentPage.length")
    table.table.table-striped.hide-while-loading(ng-show="blocks.currentPage.length")
      thead
        tr
          th(colspan=3) Sequence
          th Popularity
          th Hints
          th(colspan=2) My guess
      tbody(ng-repeat='block in blocks.currentPage')
        tr
          td
            span.label(ng-class='getLabelClass(block._id)') {{block._id}}
          td
          td
          td {{block.count}}
          td
            span(bs-tooltip='block.joinedHints') {{block.shortJoinedHints}}
          td
            input(type='text')
          td
            button.btn(style="width:100%",ng-show='block.otherBlocks.length',
                ng-class="{'btn-primary' : !block.expanded}",ng-click="block.expanded = !block.expanded")
              span.ellipsize {{block.otherBlocks.length}} more&hellip;&nbsp;
              i(ng-class="{'icon-chevron-down icon-white' : !block.expanded, 'icon-chevron-up' : block.expanded}")
        tr(ng-show='block.expanded',ng-repeat='otherBlock in block.otherBlocks')
          td
            i.icon-chevron-right(ng-show='$first')
          td
            span.label(ng-class='getLabelClass(otherBlock.ids[0])') {{otherBlock.ids[0]}}
          td
            span.label(ng-class='getLabelClass(otherBlock.ids[1])') {{otherBlock.ids[1]}}
          td {{otherBlock.count}}
          td
            span(bs-tooltip='otherBlock.joinedHints') {{otherBlock.shortJoinedHints}}
          td
            input(type='text')
          td
      tfoot
        tr
          td
          td
          td
          td
          td
          td
          td
            button.btn.btn-primary(style="width:100%",ng-class='{disabled : loadingPage}',ng-click="loadNextPage()")
              span &nbsp;Load {{constants.pageSize}} more&hellip;
              i.icon-plus.icon-white


