html
  include mixins/block-label
  include mixins/hints-with-counts
  include mixins/main-table-header
  body
    include blocks/navbar
  h2.section-title
    span Search for {{q}}

  .ajax-loader(ng-hide="initialLoadComplete")
  .alert.alert-info(ng-show="initialLoadComplete && !results.length")
    .icon-for-alert-info
      i.icon-info-sign.icon-white
    | No results found.
  table.table.table-striped.hide-while-loading(ng-show="initialLoadComplete && results.length")
    mixin main-table-header(1)
    tbody(ng-repeat="result in results",ng-switch on="result.docType")
      tr(ng-switch-when="summary")
        td
          .single-block
            mixin block-label('result.blockIds[0]', 'visible', 'block')
        //- the following is just to make the table formatting look right
        td: mixin block-label('"12345"', 'hidden', 'block')
        td {{result.count | number}}
        mixin hints-with-counts('result')
        td
          input(style='width : calc(100% - 16px);',type='text',ng-model='pouch.doc.guesses[result.blockIds[0]]')
        td
      tr(ng-switch-when="related")
        td
          div(style="display:inline-block;")
            mixin block-label('result.blockIds[0]', 'visible', 'block')
        td: mixin block-label('result.blockIds[1]', 'visible', 'block')
        td {{result.count | number}}
        mixin hints-with-counts('result')
        td
          input(style='width: calc(50% - 16px);',type='text',ng-model='pouch.doc.guesses[result.blockIds[0]]')
          input(style='width: calc(50% - 16px);',type='text',ng-model='pouch.doc.guesses[result.blockIds[1]]')
        td
    tfoot(ng-show='!searchInProgress && numFound > results.length')
      td(colspan=2)
        button.btn.btn-primary(href='#',ng-click='loadNextPage()',ng-class="{'disabled': searchInProgress}")
          | Load {{nextPageSize}} more...
          i.icon-refresh.icon-white(ng-show='searchInProgress')
